/* You can add global styles to this file, and also import other style files */
*{
    /* outline: 1px solid purple; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h1, b, a, p {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

app-start, app-hey, app-test{
    display: grid;
    place-items: center;
    margin-top: var(--header-height, 200px);
    margin-bottom: 80px; /* Das Wert kommt aus header: header height + 80px */
}
